.fields__field {
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #c9c9c9;
    padding: 6px 10px;
    width: 100%;
}
.fields__field:focus, .fields__field:hover {
    border: 1px solid #2b87db;
}
.fields__textarea {
    width: 100%;
    min-height: 100px;
}
.fields_relative {
    position: relative;
}
.fields__error {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-size: 12px;
    color: red;
}
.fields_red {
    border: 1px solid red;
}
