.items__table {
    border-spacing: 0;
}
.items__thead {
    background: #91a6bf;
    color: #FFF;
}
.items__th, .items__td {
    padding: 6px 10px;
    text-align: center;
    min-width: 50px;
    cursor: pointer;
}
.items__th:first-child {
    border-top-left-radius: 4px;
}
.items__th:last-child {
    border-top-right-radius: 4px;
}
.items__td {
    border-bottom: 1px solid #d6dfe8;
    color: #333333;
}
.items__th_square {
    width: 20px;
}
.items__tbody tr:hover {
    background: #eef6ff;
}
.items__th_fio, .items__th_address {
    min-width: 200px;
}
.items__th_last-price {
    min-width: 150px;
}
.items__icon {
    font-size: 14px;
    color: #91a6bf;
    margin: 0 5px;
    cursor: pointer;
}
.items__icon:hover, .items__icon_orange {
    color: #f87c18;
}
.items_nowrap {
    white-space: nowrap;
}



.cog {
    margin: 10px 0;
    position: relative;

    &__button {
        margin: 10px 0 0;
        padding: 8px 12px;
        border: 1px solid silver;
        border-radius: 4px;
        background: #FFF;
        cursor: pointer;

        &:hover {
            box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
        }
    }

    &__fields {
        top: 50px;
        position: absolute;
        background: #FFF;
        padding: 10px;
        border: 1px solid silver;
        border-radius: 4px;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        z-index: 2;
    }

    &__input-sort {
        width: 30px;
        text-align: center;
        border: 0px;
    }

    &__input-chexbox {
        width: 30px;
        text-align: center;
    }
}
